div.column {
	position: absolute;
	width: 20%;
	text-align: center;
	overflow: auto;
}

div#code {
	right: 25%;
}

div.element {
	position: relative;
	width: 80%;
	height: 205px; /* Instead init this with js and set it to width */
	background-color: black;
	margin-bottom: 20px
}
	
div#web {
	left: 25%;
}


