a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
	color: #ed681a;
}

body {
  width: 100%;
  margin: 0;
  font-family: 'EB Garamond', sans-serif;
  overflow-y: hidden;
	overflow-x: hidden;
  color: #333;
}

h1 {
	font-size: 64px;
	font-weight: 800;
}

h2 {
  font-size: 38px;
  font-weight: 800;
}