#featured {
  background-color: rgba(255, 255, 255, 0.7);
  display: block;
  height: 300px;
  position: relative;
  width: 100%;
  z-index: 0;
}

#featured-tag {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  float: right;
  height: 40px;
  margin-right: 20px;
  margin-top: 245px;
  width: 200px;
}

#featured-tag p {
  font-family: Consolas, Monaco, Courier New;
  font-size: 16px;
  margin: 0;
}

#menu-img {
  display: none;
}

#menu {
  display: inline-block;
  float: right;
  height: 50px;
  margin-right: 75px;
}

#menu ul li {
  border-right: solid black 1px;
  display: inline;
  line-height: 50px;
  height: 50px; /* TODO: make border-right full height */
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}
