body {
  background-color: #000000;
  font-family: Helvetica;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#content-container {
  width: 100%;
  z-index: 1;
}

header {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ccc;
  height: 50px;
  margin: 0 auto;
  width: 100%;
  z-index: 2;
}

header a, #featured a {
  text-decoration: none;
  color: inherit;
}

header a:hover, #featured-tag a:hover {
  color: #fff;
}

#header-container {
  position: relative;
}

header h1 {
  font-size: 1.5em;
  letter-spacing: -1px;
  line-height: 50px;
  margin: 0;
}

#header-title {
  display: inline-block;
  border-left: solid black 1px;
  margin: 0;
  margin-left: 75px;
  padding-left: 25px;
  width: 20%;
}

#menu {
  font-style: italic;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
