.article {
  background-image: url('../images/testimg.jpg');
  background-size: 100%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
  width: 780px;
}

.article-summary {
  margin-left: 20px;
  width: 600px;
}

.article-summary p {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ddd;
  line-height: 22px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.article-title {
  margin-top: 20px;
  margin-left: 20px;
  width: 300px;
}

.article-title h2 {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ddd;
  font-size: 2em;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

#content {
  background-color: rgba(255, 255, 255, 0.17);
  float: left;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-top: 50px;
  width: 800px;
}

#content-title h1 {
  color: #ccc;
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-left: 20px;
}

#content-title h3 {
  color: #aaa;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 5px;
}

#featured {
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url('../images/testimg.jpg');
  background-size: 100%;
  display: block;
  height: 300px;
  position: relative;
  width: 100%;
  z-index: 0;
}

#featured-tag {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  float: right;
  height: 40px;
  margin-right: 20px;
  margin-top: 245px;
  width: 200px;
}

#featured-tag p {
  font-family: Consolas, Monaco, Courier New;
  font-size: 12px;
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
}

#log-sign {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 300px;
}

#log-sign input[type=text], #log-sign input[type=password] {
  font-size: 16px;
  height: 25px;
  margin-bottom: 5px;
  width: 200px;
}

#log-sign p {
  margin: 0;
}

#log-sign input[type=submit] {
  font-size: 16px;
  height: 25px;
  margin-left: 115px;
  margin-top: 10px;
  width: 100px;
}

#log-sign-container {
  background-color: black;
  color: #ccc;
  display: none;
  float: left;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#log-sign-exit {
  margin-right: 150px;
  margin-top: 40px;
  position: absolute;
  right: 0;
}

#log-sign-header {
  bottom: 0;
  font-size: 1.5em;
  height: 350px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 600px;
}

#menu-img {
  display: none;
}

#menu {
  display: inline-block;
  float: right;
  height: 50px;
  margin-right: 75px;
}

#menu ul li {
  border-right: solid black 1px;
  display: inline;
  line-height: 50px;
  height: 50px; /* TODO: make border-right full height */
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}

.read-more {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  float: right;
  height: 25px;
  line-height: 25px;
  margin-right: 5px;
  margin-top: -40px;
  text-align: center;
  width: 95px;
}

#sidebar {
  background-color: rgba(255, 255, 255, 0.18);
  float: right;
  height: 380px;
  margin-right: 75px;
  margin-top: 50px;
  width: 300px;
}

.sidebar-collaboration {
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
  width: 290px;
}

.sidebar-collaboration h3 {
  color: #ccc;
  font-size: 1.4em;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: 5px;
}

.sidebar-collaboration p {
  color: #999;
  float: right;
  font-style: italic;
  margin-top: 0px;
}

#sidebar-title {
  color: #ccc;
  font-size: 0.8em;
  margin-left: 10px;
}

.username {
  color: white;
  font-family: Consolas, Monaco, Courier New;
  font-style: normal;
}
