div.article, div#about, div#contact {
	margin-left: 30px;
}

div.article h3, h4 {
	margin: 0;
}

div.article h4, p {
	margin-left: 10px;
}

div#content {
	margin: 0;
	margin-left: 30px;
	width: 700px;
}

div#content h2 {
	margin: 0;
	margin-bottom: -20px;
}

div#content h3#sub {
	margin-left: 20px;
}
