@charset "utf-8";
/* CSS Document */

body {
		width: 100%;
		height: 100%;
		text-align:center;
	}
	
		.fadein {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: hidden;
			top: 0px;
			left: 0px;
		}
		
		.fadein img { 
			position:absolute; 
			width: 100%;
			height: 100%;
			left:0; 
			top:0; 
		}

	#header {
		left: 10%;
		position:absolute;
		width: 100px;
		height: 30px;
			margin-left: -50px;			
		text-align: center;
		background-color: ;
		opacity: 0.8;
		font-size: 70px;
	}
	
	#twyst-logo {
		position: absolute;
		left: 50%;
		margin-left: -140px;
		height: 250px;
		
	}
	
	.mainText {
		margin-top: 4px;
		font: Helvetica, sans-serif;	
		font-weight: 700;
		letter-spacing: 1px;	
	}
	
	.title-text {
		padding-left: 5px;
		font: Helvetica, sans-serif;
		font-weight: 900;
		letter-spacing: 1px;
		font-size:36px;	
		text-align: left;
	}
	
	#backers {
		list-style: none;
		font-size: 17px;	
	}
	
	#main-body {
		position: absolute;
		left: 50%;
		height: auto;
		width: 900px;
			margin-top: 250px;
			margin-left: -450px;
		background-color: white;
		opacity: 0.8;	
	}
	
	#footer {
		bottom: 8px;
		position: fixed;
		left: 50%;
		height: 90px;
		width: 900px;
			margin-left: -450px;
		background-color: white;
		opacity: 0.8;	
	}
	
	#left-footer {
		position: absolute;
		margin-left: 0px;
		width: 450px;
		height: 90px;
		border-right: thin solid black;	
	}
	
	#right-footer {
		text-align: center;
		position: absolute;
		left: 57%;
		width: 400px;
		height: 90px;
		border-left: thin solid black;	
	}
	
	a:active, a:visited, a:link {
		text-decoration: underline;
		color: black;
	}
	
	a:hover {
		color: #09F;	
	} 
	
	a#mouse-over-right span#mouse-over-right {
		display: none;	
	}
	
	a#mouse-over-right:hover span#mouse-over-right {
		display: block;
		position: absolute;
		width: 500px;
		left: 50%;
		margin-left: -250px;
		bottom: 0px;
		margin-bottom: 90px;
		background-color: white;
		opacity: 0.8;	
	}
	
	#kickstarter-funded {
		position: absolute;
		bottom: 0px;
		margin-bottom: 20px;
		left: 51%;
		margin-left: -4px;
		height: 50px;	
	}
    