@font-face {
font-family: Track;
src: url('track.otf') format('opentype');
}

@font-face {
font-family: Adamas;
src: url('Adamas-Regular.otf') format('opentype');
}

body {
  background-color: #FECB32;
  font-family: Track;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.col-left {
  margin-left: 300px;
  float: left;
  text-align: left;
  width: 400px;
}

.col-right {
  margin-right: 300px;
  float: right;
  text-align: right;
}

.col-right img {
  height: 150px;
  width: 150px;
}

.content {
  color: #ccc;
  line-height: 16px;
}

.content a {
  color: #fff;
  text-decoration: none;
}

.container {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.container h1 {
  color: #fff;
  font-family: Adamas;
  font-size: 8em;
  line-height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

header {
  background-color: #FECB32;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1px;
  z-index: 0;
}

#home-arrow {
  float: left;
  font-size: 3em;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

#home-arrow a {
  color: inherit;
  text-decoration: none;
}

#home-arrow h1 {
  color: #FECB32;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

#navigation {
  bottom: 0;
  left: 0;
  margin: auto;
  height: 100px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 900px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation h2 {
  display: inline;
  line-height: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#portfolio #next-arrow {
  margin-right: 60px;
  right: 0;
}

#portfolio #prev-arrow {
  left: 0;
  margin-left: 60px;
}

#portfolio #next-arrow, #portfolio #prev-arrow {
  bottom: 0;
  font-size: 0.9em;
  margin-bottom: 20px;
  position: absolute;
}

#portfolio #next-arrow h1, #portfolio #prev-arrow h1 {
  margin: 0;
  color: #FECB32;
}

#portfolio #next-arrow a, #portfolio #prev-arrow a {
  margin: 0;
  text-decoration: none;
}

.project {
  height: 450px;
  margin: 0 auto;
  margin-top: -50px;
  width: 920px;
}

.project img {
  height: 320px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 920px;
}

.project .description {
  float: right;
  font-size: 0.9em;
  margin: 0;
  text-align: left;
  width: 690px;
}

.project .description p {
  margin-top: 0;
}

.project .title {
  border-right: 1px solid #ccc;
  float: left;
  height: 130px;
  text-align: left;
  width: 220px;
}

.project .title h2 {
  font-weight: 200;
  line-height: 30px;
  margin: 0;
}

.project .title p {
  font-size: 0.8em;
  margin-top: 50px;
}

.section {
  background-color: #000;
  color: #fff;
  display: none;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
}

#title {
  bottom: 0;
  font-size: 1.5em;
  height: 150px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 460px;
}

#title img {
  float: left;
  height: 150px;
  margin-right: 20px;
  width: 150px;
}
