body {
	font-family: Dosis;	
}

::selection {
	color: white;
	background: #eea8f2;
}

::-moz-selection {
	color: white;
	background: #eea8f2;
}

::-webkit-selection {
	color: white;
	background: #eea8f2;
}

#counter {
	display: none;
}

h1, h2, h3 {
	font-family: 'Press Start 2P';
}

div {
	width: 500px;
}

img {
	width: 500px;
}

a {
	color: #FF69B1;
	text-decoration: none;
}

a:hover {
	color: #ffe842;
	text-decoration: none;
}

a.no-change {
	color: inherit;
	text-decoration: inherit;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;	
}

li:before {
	content: "\26A1";
	padding-right: 5px;
}

.upper {
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/* HEADER */
header {
	text-align: center;
	background: url(../images/header2.gif) center;
	width: 520px;
	height: 260px;
	border-radius: 15px;
	color: white;
}

h1#header {
	padding-top: 80px;
}

/* BODY */

#help {
	text-align: left;
}

.available {
	color: #54a8eb;
}

.not-available {
	color: #f38a97;
}

/* CODE FORMAT */

.code-wrapper {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 500px;
	background: #272822;
}

.code {
	font-family: Arial;
	color: white;
	margin-left: 30px;
}

.code p {
	margin-top: -15px;
}

.indent1 {
	padding-left: 0px; 
}

.indent2 {
	padding-left: 20px;
}

.indent3 {
	padding-left: 40px;
}

.indent4 {
	padding-left: 60px;
}

/* HTML HELP */
a.default {
	color: blue;
	text-decoration: underline;
}

ul.default li {
	list-style-type: disc;
	list-style-position: inside;
}

ul.default li:before {
	content: "";
}

/* RAINBOW COLORS */

.rainbow {
	text-align: center;
	-moz-animation: pulse 1s infinite alternate;
	-webkit-animation: pulse 1s infinite alternate;
}

@-moz-keyframes pulse {
     0% {color: #ffe842;}
     25% {color: #9ade9b;} 
     50% {color: #34ceff;}
     75% {color: #9ade9b;} 
     100% {color: #ffe842;}
}

@-webkit-keyframes pulse {
     0% {color: #ffe842;}
     25% {color: #9ade9b;} 
     50% {color: #34ceff;}
     75% {color: #9ade9b;} 
     100% {color: #ffe842;}
}